/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #ebeef6;
  padding: 4.8rem 0 9.6rem 0;

}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 30%;
}

/**************************/
/* CHOICES SECTION */
/**************************/

.section-choices {
  padding: 9.6rem 0;
}

.choice {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.choice:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.choice-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.choice-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.choice-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choice-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.choice-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #7288bd;
}

.choice-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
